<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task Manager - Reset Password</title>
    <link href="https://unpkg.com/@webpixels/css/dist/index.css" rel="stylesheet">
</head>
<body>
    <div class="px-5 py-5 p-lg-0">
        <div class="d-flex justify-content-center">
          <div class="col-12 col-md-9 col-lg-7 min-h-lg-screen d-flex flex-column justify-content-center py-lg-16 px-lg-20 position-relative">
            <div class="row">
              <div class="col-lg-10 col-md-9 col-xl-7 mx-auto">
                <div class="text-center mb-12">
                  <span class="d-inline-block d-lg-block h1 mb-lg-6 me-3">🔑</span>
                  <h1 class="ls-tight font-bolder h2">
                    Reset Your Password
                  </h1>
                  <p class="mt-2">Enter your new password and confirm it to reset your password.</p>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    <div class="mb-5">
                        <label class="form-label" for="email">Email address</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Your email address">
                    </div>                    
                    <div class="mb-5">
                        <label class="form-label" for="new_password">New Password</label>
                        <input type="password" class="form-control" name="new_password" placeholder="New Password" autocomplete="new-password">
                    </div>
                    <div class="mb-5">
                        <label class="form-label" for="confirm_password">Confirm Password</label>
                        <input type="password" class="form-control" name="confirm_password" placeholder="Confirm Password" autocomplete="new-password">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary w-full">
                        Reset Password
                        </button>
                    </div>
                </form>
                
                <div class="my-6">
                  <small>Remember your password? </small>
                  <a href="/login" class="text-warning text-sm font-semibold">Sign in</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>
